body {
    background-color: black;
    color: white;
}

h1, p {
    text-align: center;
}

h1 {
    font-size: 100px;
    margin-bottom: 0;
    margin-top: 0;
}

p {
    margin-bottom: 40px;
}

#game-canvas {
    display: block;
    margin: 0 auto;
}

#game-controls{
    margin-top: 50px;
    text-align: center;
    font-size: 30px;
}
