body {
    background-color: black;
    color: white;
}

#title {
    font-size: 100px;
    margin-bottom: 0px;
    margin-top: 20px;
    text-align: center;
}

#subtitle {
    margin-bottom: 40px;
    text-align: center;
}

#game-canvas {
    display: inline-block;
    position: relative;
    left: 500px;
}

#game-controls{
    margin-top: 50px;
    text-align: center;
    font-size: 30px;
}

#game-score {
    display: inline-block;
    position: relative;
    left: 600px;
    top: -500px;
    text-align: center;
}

#game-score h2 {
    font-size: 30px;
}

#game-score p {
    font-size: 20px;
    margin-bottom: 50px;
}

#advice {
    text-align: center;
    font-size: 20px;
}

.press-start-2p-regular {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  